.otherPairings {
  margin-bottom: 60px;
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .FontPairList {
    width: 568px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .FontPairRecomendationCard {
      width: 178px;
      height: 95px;
      border-radius: 7px;
      /* background: #cccccc; */
      background: #2a2921;
      cursor: pointer;
      &:hover {
        background: #d8d8d8;
      }

      img {
        width: 178px;
        height: 95px;

        &:hover {
          width: 188px;
          height: 100px;
          box-shadow: 1px 6px 12px rgba(215, 214, 212, 0.3);
          transform: translate(-5px, -2.5px);
        }
      }
    }
  }
}
