.selectView {
  &.opened {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 1px 6px 12px rgba(215, 214, 212, 0.3);

    .chevron {
      background-image: url('../assets/images/chevrons/down.svg');
      width: 8px;
      height: 8px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 6px;
      transform: rotate(180deg);
    }

    .selectViewName {
      display: flex;
      flex-direction: row;
      color: #2a2921;
      background: #ffffff;
      font-size: 13px;
      font-family: 'PT Sans';
      padding: 10px 10px;
      align-items: center;
      cursor: pointer;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.closed {
    .selectViewName {
      display: flex;
      flex-direction: row;
      color: #2a2921;
      background: #ffffff;
      font-size: 13px;
      font-family: 'PT Sans';
      border-radius: 7px;
      padding: 10px 10px;
      align-items: center;
      cursor: pointer;

      .chevron {
        background-image: url('../assets/images/chevrons/down.svg');
        width: 8px;
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 6px;
      }
    }
  }

  .ViewList {
    display: flex;

    .selectViewItem {
      display: flex;
      flex-direction: row;
      color: #2a2921;
      background: #ffffff;
      font-size: 13px;
      font-family: 'PT Sans';
      border-radius: 0;
      padding: 10px 10px;
      align-items: center;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 7px;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 0;
      }

      &:hover {
        color: #aeaeae;
      }
      //первый последний чайлд
    }
  }
}
