@import 'FontCard.scss';
@import 'FontAbout.scss';

body {
  background: #f6f4f3;

  .hidden {
    display: none;
  }

  .navigation {
    width: 90%;
    position: relative;
    margin: 0 auto;
    top: 21px;
    font-family: 'PT Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .select {
      height: 30px;
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .selectType {
        font-size: 14px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        padding: 10px 15px;
        border-radius: 7px;
        margin-left: 10px;
      }
      .chevron {
        background-image: url('../assets/images/chevrons/down.svg');
        width: 8px;
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 6px;
      }
    }

    form {
      .closeIcon {
        width: 8px;
        border: none;
        height: 8px;
        background-color: ffffff;
        padding: 0;
        position: relative;
        right: 20px;
        background-image: url('../assets/Close.svg');
        background-size: cover;
        background-repeat: no-repeat;
        outline: none;
        cursor: pointer;
        visibility: visible;
      }

      input {
        width: 170px;
        height: 30px;
        border-radius: 6px;
        background: #ffffff;
        border-style: none;
        padding-left: 13px;

        /*         &:not(:valid) {
  .closeIcon {
    visibility: hidden;
  }
} */

        &::placeholder {
          font-size: 14px;
          color: #9e9e9e;
        }

        &:focus {
          outline: none;
          border: 1px solid rgba(36, 37, 38, 0.1);
          box-shadow: 1px 6px 15px 0px rgba(36, 37, 38, 0.08);
          padding-left: 13px;

          &::placeholder {
            color: #ffffff;
          }
        }
      }
    }
  }

  .folder {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .fontPairFolder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px 21px;
      margin: 6px;
      border-radius: 12px;
      background: #ffffff;
      font-size: 20px;
      line-height: 20px;

      .chevron {
        width: 10px;
        height: 10px;
      }
      .down {
        background-image: url('../assets/images/chevrons/down.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .up {
        background-image: url('../assets/images/chevrons/up.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .PairList {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    justify-content: center;
  }
}
