body {
  background: green;
}

.fontPair {
  width: 500px;
  height: 500px;
  background: #ffffff;
  border: 1px solid #f7f4f3;
  box-sizing: border-box;
  box-shadow: 1px 6px 12px rgba(215, 214, 212, 0.3);
  border-radius: 12px;
}

.fontLine {
  width: 500px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #f7f4f3;
  box-sizing: border-box;
  box-shadow: 1px 6px 12px rgba(215, 214, 212, 0.3);
  border-radius: 12px;
}
