@import 'FontPairCard.scss';
@import 'FontDescription.scss';
@import 'FontFolder.scss';
@import 'PageNavigation.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'Button.scss';
@import 'FontPairRecomendation.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background: #f6f4f3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .hidden {
    display: none;
  }
}
