.O_MultiSelect {
  position: relative;
  width: 196px;
  height: 26px;
  border-radius: 6px;
  background: var(--white);

  .M_Select {
    position: absolute;
    top: 0;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }

  .Q_MultiSelectDivider {
    position: absolute;
    top: 0;
    left: 94px;
    width: 8px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    color: var(--grey);
  }
}
