.A_SelectButton {
  position: relative;
  width: 94px;
  height: 30px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 30px;

  &::first-letter {
    text-transform: uppercase;
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 12px;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../../assets/images/icons/chevron-small-bottom.svg');
    background-size: cover;
  }
}
