.foldersWrapper {
  /* width: 90%; */
  // margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // margin-top: 54px;
  // margin-bottom: 40px;

  .fontFolder {
    // width: 84%;
    // background: #ffffff;
    // padding: 15px;
    // margin: 0 auto;
    // border-radius: 15px;
    // margin-bottom: 10px;
    // cursor: pointer;

    &.closed {
      height: 35px;
    }
    &.opened {
      height: 472px;
    }

    // .fontFolderName {
    //   font-size: 20px;
    //   margin-left: 11px;
    //   margin-top: 8px;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   width: 97%;
    //   .chevron {
    //     width: 12px;
    //     height: 12px;
    //     cursor: pointer;
    //
    //     &.down {
    //       background-image: url('../assets/images/chevrons/up.svg');
    //       transform: rotate(180deg);
    //       background-size: cover;
    //       background-position: center;
    //       background-repeat: no-repeat;
    //     }
    //     &.up {
    //       background-image: url('../assets/images/chevrons/up.svg');
    //       background-size: cover;
    //       background-position: center;
    //       background-repeat: no-repeat;
    //     }
    //   }
    // }
    .FontPairList {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      top: 10px;
      justify-content: flex-start;
    }
  }
  /*   .fontPairFolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 21px;
  margin: 6px;
  border-radius: 12px;
  background: #ffffff;
  font-size: 20px;
  line-height: 20px;


} */
}
