.S_FilterBar {
  position: relative;
  z-index: 1;
  height: 30px;

  & > * {
    position: absolute;
    top: 0;
  }

  .A_ToggleButton {
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/icons/star-initial.svg');
    background-color: var(--white);

    &:hover {
      background-image: url('../../assets/images/icons/star-hover.svg');
    }

    &.toggle {
      background-image: url('../../assets/images/icons/star-active.svg');
    }
  }

  .M_SearchField {
    left: 38px;
  }

  & > .M_Select {
    &:nth-child(3) {
      left: 196px;
    }

    &:last-child {
      right: 0;
    }
  }

  .O_MultiSelect {
    left: 296px;
  }
}
