.S_FilterBar {
  position: relative;
  z-index: 1;
  height: 30px;

  & > * {
    position: absolute;
    top: 0;
  }

  & > .M_Select {
    &:nth-child(2) {
      left: 196px;
    }

    &:last-child {
      right: 0;
    }
  }

  .O_MultiSelect {
    left: 296px;
  }
}
