.S_Folder {
  border-radius: 14px;
  background: var(--white);

  &.active {
    padding-bottom: 8px;

    .M_FolderHeader {
      &::after {
        background-image: url('../../assets/images/icons/chevron-top.svg');
      }
    }

    .C_PairCards {
      display: flex;
      flex-wrap: wrap;
      padding: 0 14px;

      .O_PairCard {
        margin: 0 6px 12px;
      }
    }
  }
}
